body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

hr {
    color: #fff;
}

h4 {
    margin-left: 10rem;
}

.navbar {
    background-color: #e6e7eb;
}

input {
    float: left;
    padding: 6px;
    width: 25rem;
    margin-left: 40rem;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#sidebar-wrapper ul li {
    margin-top: -32px;
    margin-left: -6px;
}

#sidebar-wrapper ul li a img {
    filter: invert(1);
}

#menu-active {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 15px;
}

#menu-active ul li {
    list-style: none;
}

.btn-conta {
    width: 5rem;
    height: 2.5rem;
}

#main {
    height: 100%;
    max-width: 90rem;
    margin: 0 auto;
    margin-left: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#container {
    margin-left: 390px;
    text-align: center;
}

.span-index span {
    color: #03071a;
    font-weight: 800;
}

#container .card {
    margin-top: 65px;
    margin-left: 25px;
    height: 200px;
}

#container .card p {
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#container .card a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#container .card img {
    margin: 10px;
}

#main-produtos {
    margin-left: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#main-produtos .cod {
    width: 80px;
    margin: 0;
}

#main-produtos select {
    margin: 0;
}

#main-produtos input {
    margin: 0;
}

#main-card {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
#main-card .card-blue {
    border-left: 3px solid rgb(39, 18, 233);
}

#main-card .card-green {
    border-left: 3px solid rgba(67, 207, 11, 0.733);
}

#main-card .card-yellow {
    border-left: 3px solid rgb(207, 207, 11);
}

#main-entradas {
    margin-left: 300px;
}

#main-fornecedores {
    margin-left: 400px;
=======
#main-entradas input {
    margin: 0;
}

@media (max-width: 105em) {
    .container {
        margin-left: 12rem;
    }
>>>>>>> 86b75ab8f6cfc19ca14b2d446573ca95d4eca1d8
}